.footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40 !important;
}

.footer p {
  margin: 0;
  color: white;
}

@media (max-width: 480px) {
  .footer {
    padding: 0px 20px;
  }
  .footer p {
    text-align: center;
  }
}
