.updateContainer {
  width: 45%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2699fb;
  text-align: center;
}

.updateForm {
  text-align: start;
}
