.header {
  align-items: center;
  height: 60px;
}

.container {
  width: 100%;
}

.menu {
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: white;
}

.menu li a {
  color: white;
  list-style: none !important;
}

.btn_blank {
  background: none;
  border: none;
  color: white;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
