.cardContainer {
  background: #2699fb;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  transition: 1s all;
}

.cardContainer:hover {
  box-shadow: 10px 10px 10px lightgrey;
  transition: 1s all;
  transform: scale(1.1);
}

.cardContainer img {
  width: 90%;
  height: 50%;
}

.cardContainer p {
  margin: 0px;
  font-size: 16px;
}

.cardContainer a {
  display: block;
  text-decoration: none;
  color: white;
  border-top: 1px solid white;
  margin-top: 8px;
  padding-top: 5px;
  font-size: 16px;
}
